body {
    font-family: arial, sans-serif;
}

#main-content {
    text-align: center;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

a.nav-item {
    text-decoration: none;
    margin: 1rem;
    color: #3f3f3f;
    font-size: 0.9rem;
}

a.nav-item:hover {
    text-decoration: underline;
}

div#logo-img {
    background-image: url("../images/logo.png");
    background-size: cover;
    left: calc(50% - 272px/2);
    position: relative;
    width: 272px;
    height: 92px;
    margin: 1rem;
}

img#logo-img {
    padding-top: 10rem;
}

div#logo {
    display: inline;
}

#input {
    font-size: 1rem;
    width: 544px;
    padding: 1rem;
    border-radius: 3rem;
    border: 1px solid #d8d8d8;
    margin: 1.5rem;
}

#input:hover, #input:focus {
    box-shadow: 0rem 0.1rem 0.5rem 0rem rgba(0, 0, 0, 0.30);
}

#input:focus{
    outline: none;
}

.google-button {
    background-color: #f1f1f1;
    color: #5F6368;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0.3rem;
    font-size: 1rem;
}

.submit-container {
    display: inline;
}

.google-button:hover {
    color: #2a2a2a;
    border: 1px solid #a1a1a1;
    box-shadow: 0rem 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.10);
}